.DS_Store
*.swp
*.swo
Historique/FileTransferExample/FileTransferClient/build/
Historique/FileTransferExample/FileTransferClient/dist/
Historique/FileTransferExample/FileTransferClient/nbproject/private/
Historique/FileTransferExample/FileTransferServer/build/
Historique/FileTransferExample/FileTransferServer/dist/
Historique/FileTransferExample/FileTransferServer/nbproject/private/
/Historique/XmlRpcExample/XmlRpcClient/target/
/Historique/XmlRpcExample/XmlRpcServer/target/
