//- Copyright 2013 Jacques Berger.
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-      http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

!!!
html
  head
    title Formulaire
    meta(charset="utf-8")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/script.js")
  body
    h1 Formulaire
    table
      tbody
        tr
          td.label Nom :
          td
            input#form-lastname(type="text", onchange="save();")
        tr
          td.label Prénom :
          td
            input#form-firstname(type="text", onchange="save();")
        tr
          td.label Âge :
          td
            input#form-age(type="text", onchange="save();")
    div#result
